<?xml version="1.0" encoding="UTF-8"?>

<!--<configuration>-->
<!--    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <encoder>-->
<!--            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
<!--        </encoder>-->
<!--    </appender>-->

<!--    <root level="debug">-->
<!--    <appender-ref ref="STDOUT" />-->
<!--    </root>-->
<!--</configuration>-->

<!--<?xml version="1.0" encoding="UTF-8"?>-->

<configuration scan="true" scanPeriod="15 seconds">
    <property name="LOG_DIR" value="logs"></property>
    <property name="FILE_PREFIX" value="springstarter"></property>



    <appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${LOG_DIR}/${FILE_PREFIX}.log</file>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${LOG_DIR}/archived/${FILE_PREFIX}%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
        </rollingPolicy>
    </appender>

    <!-- Configure the Sentry appender, overriding the logging threshold to the WARN level -->
<!--    <appender name="Sentry" class="io.sentry.logback.SentryAppender">-->
<!--        <options>-->
<!--            &lt;!&ndash; NOTE: Replace the test DSN below with YOUR OWN DSN to see the events from this app in your Sentry project/dashboard &ndash;&gt;-->
<!--            <dsn>-->
<!--                https://examplePublicKey@o0.ingest.sentry.io/0-->
<!--            </dsn>-->
<!--        </options>-->
<!--    </appender>-->


    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="info">
        <appender-ref ref="LOGFILE"></appender-ref>
        <appender-ref ref="CONSOLE"></appender-ref>
        <!--        <appender-ref ref="Sentry"></appender-ref>-->

    </root>



</configuration>
