# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Build and depoly to Dockerhub

on:
  push:
    branches: [main] 

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    # Check and executes only for main branch
    # if: github.ref == 'refs/heads/main'
    steps:
      - uses: actions/checkout@v2
      - name: Set up JDK 11
        uses: actions/setup-java@v2
        with:
          java-version: "11"
          distribution: "adopt"

      - name: Checkstyle check
        run: mvn checkstyle:check

      - name: Build with Maven
        run: mvn -B package --file pom.xml

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Build and push
        id: docker_build
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          push: true
          build-args: REVISION=0.0.1
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/springstarter:latest

      - name: Image digest
        run: echo ${{ steps.docker_build.outputs.digest }}
